Importando bibliotecas

In [1]:
import pandas as pd

Criando dataframe

In [2]:
df = pd.DataFrame({'product_id':[1,2,3,4,5,6,7,8,9,10],
                   'name': ['Camiseta', 'Geladeira', 'Calça', 'Fogão', 'Dicionário', 'Bíblia', 'Perfume', 'Meia', 'Microondas','TV']})

In [3]:
df

   product_id        name
0           1    Camiseta
1           2   Geladeira
2           3       Calça
3           4       Fogão
4           5  Dicionário
5           6      Bíblia
6           7     Perfume
7           8        Meia
8           9  Microondas
9          10          TV

In [4]:
# usando o método apply para categorizar os produtos do dataframe

df['categoria'] = df['name'].apply(lambda x: 'Eletrodoméstico' if x in ['Geladeira', 'Fogão', 'Microondas', 'TV'] 
                                                                else('Vestuário' if x in ['Camiseta', 'Calça', 'Meia'] 
                                                                else('Livro' if x in ['Dicionário', 'Bíblia'] 
                                                                else'Outros')))

In [5]:
df

   product_id        name        categoria
0           1    Camiseta        Vestuário
1           2   Geladeira  Eletrodoméstico
2           3       Calça        Vestuário
3           4       Fogão  Eletrodoméstico
4           5  Dicionário            Livro
5           6      Bíblia            Livro
6           7     Perfume           Outros
7           8        Meia        Vestuário
8           9  Microondas  Eletrodoméstico
9          10          TV  Eletrodoméstico