### Bibliotecas

In [33]:
import pandas as pd
import os
import pymysql
from sqlalchemy import create_engine, text
import ast
from google.oauth2 import service_account

### Extração

In [5]:
password = os.environ['mysql_password']

In [6]:
conn = f"mysql+pymysql://root:{password}@localhost/new_schema"

In [8]:
db_conn = create_engine(conn)

In [9]:
query = 'show tables'

In [10]:
pd.read_sql(con= db_conn, sql=query)

  Tables_in_new_schema
0                users

In [11]:
query = text('''
    select
        *
    from users
''')

In [13]:
df = pd.read_sql(con=db_conn, sql=query)

In [14]:
df

    id     nome  idade                                        localizacao
0    1     Joao     33  {'cidade':'Sao Paulo','estado':'SP','bairro':'...
1    2     Jose     55                                                 \r
2    3    Maria     49  {'cidade':'Sao Paulo','estado':'SP','bairro':'...
3    4    Pedro     21  {'cidade':'Sao Paulo','estado':'SP','bairro':'...
4    5  Gabriel     36  {'cidade':'Rio de Janeiro','estado':'RJ','bair...
5    6  Mariana     57                                                 \r
6    7    Bruna     48  {'cidade':'Rio de Janeiro','estado':'RJ','bair...
7    8  Matheus     54  {'cidade':'Sao Paulo','estado':'SP','bairro':'...
8    9  Rodrigo     36  {'cidade':'Sao Paulo','estado':'SP','bairro':'...
9   10   Rafael     43  {'cidade':'Belo Horizonte','estado':'MG','bair...
10  11  Natalia     46  {'cidade':'Belo Horizonte','estado':'MG','bair...
11  12    Marta     40                                                 \r
12  13     Jose     49  {'cidade':'Sao Bernardo do Campo','estado':'SP...
13  14     Enzo     28  {'cidade':'Belo Horizonte','estado':'MG','bair...
14  15  Silvana     45  {'cidade':'Sao Paulo','estado':'SP','bairro':'...

### Transformação

In [15]:
df.localizacao.values[0]

"{'cidade':'Sao Paulo','estado':'SP','bairro':'Lapa'}\r"

In [17]:
ast.literal_eval(df.localizacao.values[0])

{'cidade': 'Sao Paulo', 'estado': 'SP', 'bairro': 'Lapa'}

In [18]:
df.localizacao = df.localizacao.apply(lambda x: ast.literal_eval(x) if x != '\r' else {})

In [19]:
df

    id     nome  idade                                        localizacao
0    1     Joao     33  {'cidade': 'Sao Paulo', 'estado': 'SP', 'bairr...
1    2     Jose     55                                                 {}
2    3    Maria     49  {'cidade': 'Sao Paulo', 'estado': 'SP', 'bairr...
3    4    Pedro     21  {'cidade': 'Sao Paulo', 'estado': 'SP', 'bairr...
4    5  Gabriel     36  {'cidade': 'Rio de Janeiro', 'estado': 'RJ', '...
5    6  Mariana     57                                                 {}
6    7    Bruna     48  {'cidade': 'Rio de Janeiro', 'estado': 'RJ', '...
7    8  Matheus     54  {'cidade': 'Sao Paulo', 'estado': 'SP', 'bairr...
8    9  Rodrigo     36  {'cidade': 'Sao Paulo', 'estado': 'SP', 'bairr...
9   10   Rafael     43  {'cidade': 'Belo Horizonte', 'estado': 'MG', '...
10  11  Natalia     46  {'cidade': 'Belo Horizonte', 'estado': 'MG', '...
11  12    Marta     40                                                 {}
12  13     Jose     49  {'cidade': 'Sao Bernardo do Campo', 'estado': ...
13  14     Enzo     28  {'cidade': 'Belo Horizonte', 'estado': 'MG', '...
14  15  Silvana     45  {'cidade': 'Sao Paulo', 'estado': 'SP', 'bairr...

In [20]:
list(df.localizacao)

[{'cidade': 'Sao Paulo', 'estado': 'SP', 'bairro': 'Lapa'},
 {},
 {'cidade': 'Sao Paulo', 'estado': 'SP', 'bairro': 'Moema'},
 {'cidade': 'Sao Paulo', 'estado': 'SP', 'bairro': 'Vila Olímpia'},
 {'cidade': 'Rio de Janeiro', 'estado': 'RJ', 'bairro': 'Lapa'},
 {},
 {'cidade': 'Rio de Janeiro', 'estado': 'RJ', 'bairro': 'Santa Teresa'},
 {'cidade': 'Sao Paulo', 'estado': 'SP', 'bairro': 'Saúde'},
 {'cidade': 'Sao Paulo', 'estado': 'SP', 'bairro': 'Morumbi'},
 {'cidade': 'Belo Horizonte', 'estado': 'MG', 'bairro': 'Savassi'},
 {'cidade': 'Belo Horizonte', 'estado': 'MG', 'bairro': 'Centro'},
 {},
 {'cidade': 'Sao Bernardo do Campo', 'estado': 'SP', 'bairro': 'Demarchi'},
 {'cidade': 'Belo Horizonte', 'estado': 'MG', 'bairro': 'Bonfim'},
 {'cidade': 'Sao Paulo', 'estado': 'SP', 'bairro': 'Mooca'}]

In [23]:
pd.DataFrame(list(df.localizacao))

                   cidade estado        bairro
0               Sao Paulo     SP          Lapa
1                     NaN    NaN           NaN
2               Sao Paulo     SP         Moema
3               Sao Paulo     SP  Vila Olímpia
4          Rio de Janeiro     RJ          Lapa
5                     NaN    NaN           NaN
6          Rio de Janeiro     RJ  Santa Teresa
7               Sao Paulo     SP         Saúde
8               Sao Paulo     SP       Morumbi
9          Belo Horizonte     MG       Savassi
10         Belo Horizonte     MG        Centro
11                    NaN    NaN           NaN
12  Sao Bernardo do Campo     SP      Demarchi
13         Belo Horizonte     MG        Bonfim
14              Sao Paulo     SP         Mooca

In [26]:
df_final = df.merge(pd.DataFrame(list(df.localizacao)), left_index=True, right_index=True)

In [27]:
df_final

,id,nome,idade,localizacao,cidade,estado,bairro
0,1,Joao,33,"{'cidade': 'Sao Paulo', 'estado': 'SP', 'bairr...",Sao Paulo,SP,Lapa
1,2,Jose,55,{},NaN,NaN,NaN
2,3,Maria,49,"{'cidade': 'Sao Paulo', 'estado': 'SP', 'bairr...",Sao Paulo,SP,Moema
3,4,Pedro,21,"{'cidade': 'Sao Paulo', 'estado': 'SP', 'bairr...",Sao Paulo,SP,Vila Olímpia
4,5,Gabriel,36,"{'cidade': 'Rio de Janeiro', 'estado': 'RJ', '...",Rio de Janeiro,RJ,Lapa
5,6,Mariana,57,{},NaN,NaN,NaN
6,7,Bruna,48,"{'cidade': 'Rio de Janeiro', 'estado': 'RJ', '...",Rio de Janeiro,RJ,Santa Teresa
7,8,Matheus,54,"{'cidade': 'Sao Paulo', 'estado': 'SP', 'bairr...",Sao Paulo,SP,Saúde
8,9,Rodrigo,36,"{'cidade': 'Sao Paulo', 'estado': 'SP', 'bairr...",Sao Paulo,SP,Morumbi
9,10,Rafael,43,"{'cidade': 'Belo Horizonte', 'estado': 'MG', '...",Belo Horizonte,MG,Savassi
10,11,Natalia,46,"{'cidade': 'Belo Horizonte', 'estado': 'MG', '...",Belo Horizonte,MG,Centro
11,12,Marta,40,{},NaN,NaN,NaN
12,13,Jose,49,"{'cidade': 'Sao Bernardo do Campo', 'estado': ...",Sao Bernardo do Campo,SP,Demarchi
13,14,Enzo,28,"{'cidade': 'Belo Horizonte', 'estado': 'MG', '...",Belo Horizonte,MG,Bonfim
14,15,Silvana,45,"{'cidade': 'Sao Paulo', 'estado': 'SP', 'bairr...",Sao Paulo,SP,Mooca

In [28]:
df_final.drop(columns='localizacao', inplace=True)

In [32]:
df_final

    id     nome  idade                 cidade estado        bairro    pais
0    1     Joao     33              Sao Paulo     SP          Lapa  Brasil
1    2     Jose     55                    NaN    NaN           NaN  Brasil
2    3    Maria     49              Sao Paulo     SP         Moema  Brasil
3    4    Pedro     21              Sao Paulo     SP  Vila Olímpia  Brasil
4    5  Gabriel     36         Rio de Janeiro     RJ          Lapa  Brasil
5    6  Mariana     57                    NaN    NaN           NaN  Brasil
6    7    Bruna     48         Rio de Janeiro     RJ  Santa Teresa  Brasil
7    8  Matheus     54              Sao Paulo     SP         Saúde  Brasil
8    9  Rodrigo     36              Sao Paulo     SP       Morumbi  Brasil
9   10   Rafael     43         Belo Horizonte     MG       Savassi  Brasil
10  11  Natalia     46         Belo Horizonte     MG        Centro  Brasil
11  12    Marta     40                    NaN    NaN           NaN  Brasil
12  13     Jose     49  Sao Bernardo do Campo     SP      Demarchi  Brasil
13  14     Enzo     28         Belo Horizonte     MG        Bonfim  Brasil
14  15  Silvana     45              Sao Paulo     SP         Mooca  Brasil

In [31]:
df_final['pais'] = 'Brasil'

### Carregamento

In [35]:
credentials = service_account.Credentials.from_service_account_file(filename='GBQ.json', scopes=['https://www.googleapis.com/auth/cloud-platform'])

In [36]:
df_final.to_gbq(credentials=credentials, destination_table='curso_etl.etl_mysql', if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 166.61it/s]